{{ define "main"}}

<div class="text-404">
  <h1 class="error-emoji"></h1>
  <h2>
      This is a 404 error...
  </h2>
  <p>
    {{ i18n "error404" . }}<br/><a href="{{ .Site.BaseURL }}">{{ i18n "home" }}</a>
  </p>
</div>
<script>
  const errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
  const emojiArray = [
    'Oh bother.', 'Drat.', 'Curses!', 'Oops.', 'Sorry.', 'Hmm...', 'I remember when things worked!',
    'I like to think of times when things DID work.', 'Interesting...', 'This is not ideal.', 'Oh dear.',
  ];
  const errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
  errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));
</script>

{{ end }}
